/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Taviraj:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Root */
:root {
  /* ======== Colors ======== */
  /* Grey */
  --grey-100: #f8fafc;
  --grey-200: #f1f5f9;
  --grey-300: #e2e8f0;
  --grey-400: #cbd5e1;
  --grey-500: #94a3b8;
  --grey-600: #64748b;
  --grey-700: #475569;
  --grey-800: #344256;
  --grey-900: #1e293b;

  /* Complement */
  --complement-10: #fbfbfb;
  --complement-20: #f8f6f7;
  --complement-30: #f4f2f3;
  --complement-40: #f0edef;
  --complement-50: #ede9ec;
  --complement-60: #e9e4e8;
  --complement-70: #e5e0e4;
  --complement-80: #e1dbe0;
  --complement-90: #ded7dc;
  --complement-100: #dad2d8;

  /* faded */
  --faded-100: #fbe1df;
  --faded-200: #f8c3bf;
  --faded-300: #f4a69e;
  --faded-400: #f1887e;
  --faded-500: #ed6a5e;
  --faded-600: #be554b;
  --faded-700: #8e4038;
  --faded-800: #5f2a26;
  --faded-900: #2f1513;

  /* Others */
  --primary-color: #f1356d;
  --dark-color: #000000;
  --light-color: #fff;
  --text-color: var(--dark-color);
  --background-color: var(--complement-10);

  /* Fonts */
  --font-1: "nunito", sans-serif;
  --font-2: "Lato", sans-serif;

  /* Box-shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Typography */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-500);
  border-radius: 50px;
  border: 1px solid var(--grey-300);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey-300);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

ul {
  list-style-type: none;
}

/* Buttons */
.btn {
  border: none;
  padding: 10px 30px;
  margin: 10px 20px;
  border-radius: 5px;
  border-radius: 2px;
  transition: transform 0.4s ease-in;
}

.btn:hover {
  transform: scale(0.94);
}

/* Containers */
.app-container {
  font-family: var(--font-1);
  font-size: 1rem;
  font-weight: 300;
}

.container {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--complement-100);
}

.navbar ul {
  display: flex;
  justify-content: center;
}

.navbar li {
  padding: 10px;
}

.navbar h1 a {
  font-weight: 600;
  color: var(--primary-color);
}

.navbar .nav a {
  padding: 5px 0;
  font-weight: 400;
  transition: 0.3s;
}

.navbar .nav a:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

/* Home */
.home {
  margin: 20px 0;
}

/* Blog-list */
.blogs {
  margin: 20px;
  padding: 5px;
  border-bottom: 1px solid var(--complement-100);
  width: 500px;
}

.blogs h2 {
  color: var(--primary-color);
  transition: 0.3s;
}

.blogs h2:hover {
  color: var(--faded-500);
}

.trash {
  cursor: pointer;
}

/* Blog details */
.blog-detail .title {
  color: var(--primary-color);
}

.blog-detail .author {
  color: var(--faded-500);
  font-weight: 600;
  margin: 3px 0 10px 0;
  text-indent: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--complement-100);
  padding-bottom: 5px;
}

.blog-detail {
  padding: 10px 10px 10px 20px;
}

/* Buttons */
.blog-list .buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.blog-list .edit {
  position: relative;
  bottom: -7px;
}

.details .buttons {
  margin-top: 1rem;
}

.btn-edit {
  background-color: var(--faded-500);
  color: var(--light-color);
  padding: 5px 30px;
}

.btn-delete {
  background-color: red;
  color: var(--light-color);
  padding: 8px 30px;
}

.btn-add {
  background-color: var(--faded-500);
  color: var(--light-color);
}

.about h2 {
  margin-bottom: 1rem;
  color: var(--faded-500);
}

/* New Blog */
.form {
  max-width: 450px;
  margin: 50px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-control label {
  margin-bottom: 5px;
  font-weight: 400;
}

.form-control input {
  height: 30px;
}

.form-control input,
.form-control textarea {
  border: 1px solid var(--grey-500);
  border-radius: 3px;
  outline: none;
  padding: 3px;
}

.form-control input:hover,
.form-control textarea:hover {
  outline: none;
}

.form-control textarea {
  height: 150px;
  font-family: var(--font-1);
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px dashed var(--primary-color);
  animation: spin 0.7s linear infinite;
}

/* Animations */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
  0% {
    border-top-color: var(--primary-color);
  }
  100% {
    border-top-color: var(--primary-color);
  }
}
